@page
@model LoginRegistration.Pages.Hello.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>MyUser</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MyUser.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MyUser.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MyUser.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MyUser.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MyUser.ConfirmPassword)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MyUser.ConfirmPassword)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MyUser.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MyUser.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MyUser.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MyUser.LastName)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="MyUser.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
